* {font-family: Questrial; box-sizing: border-box; margin: 0; padding: 0; -webkit-transition: 1.5s; transition: 1.5s;}

html {width: 100%;}
#wrap {height: 100vh;}
div {width: 100%; position: relative; overflow: hidden;}
h2 { font-weight: 400; font-size: 24px; line-height: 30px; position: fixed; left: 10px; bottom: 10px; width: 15%; background: tomato; height: auto; text-align: right; padding: 10px; letter-spacing: 1.1px; z-index: 1000;}

a {text-decoration: none;}
a:hover {cursor: pointer;}

#next  {position: fixed; z-index: 999; left: 110px; display: inline-block; width: 100px;}
#next1  {position: fixed; left: 220px; z-index: 999; display: inline-block; width: 100px;}
#next2  {position: fixed; z-index: 999; display: inline-block; width: 100px;}


#next:focus ~ .next1 {-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( -100% ); z-index: 101; }

#next:focus ~ .next2 {-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( -100% ); z-index: 101;}

#next:focus ~ .next {-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( 200% ); z-index: 10;}


#next1:focus ~ .next2 {-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( -200% ); z-index: 101; }

#next1:focus ~ .next, #show1:focus ~ .next2{-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( 100% ); z-index: 101;}


#next1:focus ~ .next1 {-webkit-transform: translateY( 100px );-ms-transform: translateY( -100% );transform: translateY( 100% ); z-index: 101;}

#hide, #hide2, #hide1 {font-family: Questrial; padding: 10px; display: inline-block; opacity: 0; color: #414141; background: white; border: 1px solid #414141; font-size: 16px; position: absolute; top: 20px; right: 40px; z-index: 10; text-align: center;  -webkit-transform: translateX(500px); -ms-transform: translateX(500px); transform: translateX(500px);}

#show:focus + #hide, #show1:focus + #hide1, #show2:focus + #hide2 {opacity: 1;  -webkit-transform: translateX(500px); -ms-transform: translateX(500px); transform: translateX(0px);}

#show, #show2, #show1 {font-family: Questrial; padding: 10px;  color: white; display: inline-block; border: 1px solid white; font-size: 16px; position: absolute; top: 20px; right: 40px; z-index: 100; text-align: center;}

#show:focus ~ #img, #show1:focus ~ #img1, #show2:focus ~ #img2 { -webkit-transform: translateY(75px);
        -ms-transform: translateY(75px);
            transform: translateY(75px);
opacity: .3;
cursor: pointer;
}

#show:focus, #show2:focus, #show1:focus {opacity: 0; -webkit-transform: translateX(500px); -ms-transform: translateX(500px); transform: translateX(500px);}

p {font-family: Questrial; font-weight: 400; font-size: 20px; line-height: 30px; position: absolute; right: 0px; top: 0px; width: 100%; background: white; text-align: center; padding: 10px; letter-spacing: 1.1px; z-index: 1; opacity: 0;}

#show:focus ~ p, #show2:focus ~ p, #show1:focus ~ p {opacity: 1;}

h2:focus {outline: none;}


img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    width: 100%;
    height: 100vh; z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
    float: right;
    position: relative;
    z-index: 2;
}

span {display: block;}

img:focus {
    -webkit-transition: 1s;
    transition: 1s;
    outline:none;
}


